@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1646659733854') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yiyaoxiang:before {
  content: "\f006b";
}

.icon-x:before {
  content: "\e63a";
}

.icon-zhedietubiao-yizhedie:before {
  content: "\e626";
}

.icon-zhedietubiao-zhedie:before {
  content: "\e72f";
}

.icon-jiahao:before {
  content: "\e601";
}

.icon-jjx:before {
  content: "\e60e";
}

.icon-jiahao1:before {
  content: "\e60d";
}

.icon-zhedie:before {
  content: "\e617";
}

.icon-jijiuxiang:before {
  content: "\e60b";
}

.icon-jiaobiao-shanchuO:before {
  content: "\e612";
}

.icon-zhedie1:before {
  content: "\e647";
}

.icon-jijiuxiang1:before {
  content: "\e6c1";
}

.icon-zhedie2:before {
  content: "\e620";
}

.icon-zhedie11:before {
  content: "\e621";
}

.icon-zhedie3:before {
  content: "\e613";
}

.icon-quxiaoshanchuxhong:before {
  content: "\e663";
}

.icon-x1:before {
  content: "\e63f";
}

.icon-zhediehengxiang:before {
  content: "\e643";
}

.icon-zhedieshuxiang:before {
  content: "\e646";
}

.icon-hongseshanchuX:before {
  content: "\e648";
}

.icon-a-yiliaoxiangjijiuxiang:before {
  content: "\e699";
}

